@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
    box-shadow: none;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Poppins';
    margin: 0;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    list-style: none;
    letter-spacing: 0.05vh;
    resize: none;
    outline: none;
    border: 0;
    user-select: none;
    scroll-behavior: smooth;
}

header a {
    color: rgb(39, 75, 196);
    width: 44px;
    height: 20px;
   
}

header h1 {
    font-family: Poppins;
    margin-left: 51px;
    width: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 94px;
}

nav a {
    color: #000;
    font-weight: 600;
    font-size: 2.2vh;
    margin: 3%;
    transition: 0.2s;
}

.secSobre {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Texto1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 55%;
    margin-bottom: 4%;
}

.secSobre h1 {
    color: black;
    margin-bottom: 2%;
}

h1 {
    font-weight: bold;
}

.secSobre p {
    color: black;
    font-weight: 550;
}

.secSobre a {
    color: rgb(39, 75, 196);
}

.div1, .div2, .div3 {
    display: flex;
    height: 233px;
    width: 80%;
    border: 1px solid rgb(39, 75, 196);
    margin: 1%;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}

.div1, .div2, .div3 p {
    text-align: center;
    width: 80%;
}

.containerSobre {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.288);
    height: 40%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

footer {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.288);
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

.discordBtn {
    padding: 3px;
    width: auto;
    height: auto;
    color: white;
    border: rgb(39, 75, 196) solid 1px;
    font-size: 2vh;
    margin: 1%;
    background-color: rgb(39, 75, 196);
    transition: 0.3s;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    margin-right: 5%;
}

#text {
    color: #000;
}

@media screen and (max-width: 1280px) {

    footer {
        margin-top: 10px;
        font-size: x-small;
        position:static; 
    }

    .div1, .div2, .div3   {
        text-align: center;
        flex-grow: 1;
        font-size: 10px;
        height: 150px;
    }

    .Texto1 h1 {
        font-size: 2.5vh;
    }

    .Texto1 p {
        font-size: 1.5vh;
        margin-bottom: 10%;
    }

    div.containerSobre {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    header {
        z-index: 1;
    }

    header h1 {
        font-size: 3vh;
    }

    .menu-icon {
        display: flex;
    }

    #nav {
        display: none ;
        position: absolute;
        top: 0px;
        background-color: rgb(39, 75, 196);
        width: 50%;
        height: 131%;
        border-radius: 5px;
        transform-origin: center;
        animation-name: animacao;
        animation-duration: .6s;
    }

    #nav a {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        color: white;
        font-size: larger;
    }

    .discordBtn {
        margin: 10px;
        padding: 0;
    }

    @keyframes animacao {
        from {
            left: -50%;
        }
        to {
            left: 0;
        }
    }

}
